a{
    text-decoration: none;
}
html{
    overflow-x: hidden;
}
body{
    background: #F5F5F5;
   /* width: 1366px;*/
}

header {
    position: absolute;
    width: 1366px;
    height: 120px;
    left: 0;
    top: 0;
    background: #0E0F1C;
}
.head-text{
    position: absolute;
    width: 923px;
    height: 64px;
    left: 292px;
    top: 0;
    padding: 10px;
    margin: 10px;
    font-family: 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 125.52%;
    /* or 60px */

    text-align: center;
    letter-spacing: 0.085em;

    color: #FFFFFF;
}

.logo{
    position: absolute;
    width: 128px;
    height: 128px;
    left: 144px;
    top: 15px;
    z-index: 6;
    background: url(/img/svg/logo.svg);
   /* background-color: #0E0F1C;*/
    border-radius: 64px;
}


nav{
    position: absolute;
    width: 1366px;
    height: 60px;
    left: 0;
    margin-top: 120px;


    background:#0E0F1C;
}
#nav3, #nav3 li {
    margin: 0;
    padding: 0;
}
#nav3 {
    text-align: center; /* пункты и текст горизонтально по центру */

}
#nav3 li {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}
#nav3 a {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #0077C2;
    border-radius: 8px;
    width: 178px;
    height: 45px;
    margin-top: 15px;


    font-family: 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    /*line-height: 125.52%;*/
    /* or 60px */

    letter-spacing: 0.055em;

}

footer{
    position: absolute;
    width: 1366px;
    left: 0;
    top: 750px;

    background: #0E0F1C;
}

.footer-h4 {
    margin: 0;
    position: absolute;
    width: 158px;
    height: 24px;
    left: 23px;


    font-family: 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */

    text-align: justify;

    color: #FFFFFF;

}

footer a{
    position: absolute;
    width: 237px;
    height: 24px;
    left: 35px;

    font-family: 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-align: justify;
    color: #FFFFFF;}

body {
    padding: 10px;
}

#menu-div{
    background-color: #0E0F1C;
    /*display: inline-block;*/
}
.menu{
    margin-top: 220px;
}
.menu-li{
    background-color: #0077C2;
    list-style-type: none;
    display: inline-block;
    border-radius: 25px;
    padding: 5px;
}

.txt{
    font-family: 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125.52%;
    /* or 25px */

    text-align: justify;

    color: #FFFFFF;
}


.slider {
    overflow: hidden;
    max-width: 100%;
    width: 110%;
    position: relative;
    margin-top: 200px;
    height: 450px;
    margin-bottom: 15px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: black;

}

.prev {
    left: 10%;
    background-image: url("/img/svg/arrow_prev.svg");
    background-repeat: no-repeat;
    width: 37px;
    height: 37px;
}

.next {
    right: 10%;
    background-image: url("/img/svg/arrow_next.svg");
    background-repeat: no-repeat;
    width: 37px;
    height: 37px;
}

.footer-links-center{
    width: 300px;
    margin-left: 250px;
    bottom: 65px;
    text-align: center;
    height: 150px;


}

.footer-links-center a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 125.52%;
    margin-left: 250px;
    letter-spacing: 0.055em;
}
.footer-div-left{
    width: 200px;
}
footer{
    display: inline-flex;
    justify-content: space-between;
}
.footer-div-right h4{
    color: #FFFFFF;
    font-family: 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 125.52%;
    letter-spacing: 0.055em;
    opacity: 0.2;
}

.footer-div-right img {
    opacity: 0.2;
}

.footer-div-right{
    width: 200px;
    right: 120px;
    position: relative;
    display: flex;
    text-align: right;
}